*{
    margin:0;
    padding:0;
}
body{
    background-image: url(https://flevix.com/wp-content/uploads/2019/12/Live-Wave-Background.svg);
    
}
a{
    color: black;
    align-items: center;
}
div{
    margin: 100px auto;
    background-color: white;
    height: 400px;
    width: 500px;
    display: none;
}
h1{ 
    margin-top: 20px;
    text-align: center;
    text-shadow: 0 0 3px #FF0000;
    
}
.shadow {
    -moz-box-shadow:    inset 0 0 15px blue;
    -webkit-box-shadow: inset 0 0 15px blue;
    box-shadow:         inset 0 0 15px blue;
 }
section{
    width:380px;
    border:3px solid darkblue;
    margin: 50px auto;
}
#input{
    width: 82%;
  
}
h2{
    display: inline-block;
}
ul{
    list-style: none;
}
button{
    height: 44px;
    width: 40px;
}
li{
    border: 1px solid gray;
    cursor:pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.5s;
    text-align: left;
}
ul li:nth-child(even){
    background: palegreen;
}
ul li:nth-child(odd){
    background: paleturquoise;
}
ul li:hover{
    background: #ddd;
}
ul li.checked{
    background: #888;
    color: black;
    text-decoration: line-through;
}
section{
    margin-top: 20px;
    background-color: #f44336;
    padding:30px 40px;
    color:black;
    text-align: center;
}
input {
    margin: 0;
    border: 3px solid black;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  
.input{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}
